{% extends 'base.html' %}

<header>
    <nav>
        <a href="{% url 'home' %}">Main Page</a>
    </nav>
</header>
{% block content %}
    <main>
        <div>
            <h1>Login</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Login</button>
            </form>
        </div>
    </main>
{% endblock content %}
